// The designs were created to the following widths:

$mobile_width: 375px;
$desktop_width: 1440px;

// ## Colors

// ### Primary

$orange: hsl(26, 100%, 55%);
$pale_orange: hsl(25, 100%, 94%);

// ### Neutral

$very_dark_blue: hsl(220, 13%, 13%);
$dark_grayish_blue: hsl(219, 9%, 45%);
$grayish_blue: hsl(220, 14%, 75%);
$light_grayish_blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$blackish: hsl(0, 0%, 0%); 

// ## Typography

// ### Body Copy

$fsize: 16px;

// ### Font

$fsmall: 500;
$flarge: 800;

// others
$bradius: 11px; 
